name: CI

on:
  push:
    branches:
      - "main"
      - "release-*"
  pull_request:
    branches: [main]

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Build
        run: |
          pip install uv
          uv run scripts/prepare.py ${{ matrix.python-version }}
      - name: Test
        run: |
          uv run mibdump --generate-mib-texts NET-SNMP-EXAMPLES-MIB
          uv run mibdump --generate-mib-texts IF-MIB
          uv run mibdump --generate-mib-texts LEXTUDIO-TEST-MIB
          uv run mibdump --generate-mib-texts CISCO-ENHANCED-IPSEC-FLOW-MIB
          uv run scripts/tests.py --coverage --args "--junitxml=junit/test-results-${{ matrix.os }}-py${{ matrix.python-version }}.xml --cov-report=xml"
      - name: Test summary
        uses: test-summary/action@v2
        with:
          paths: "junit/*.xml"
        if: always()
